In [2]:
import pandas as pd
import numpy as np
import sklearn

In [3]:
data = pd.read_csv("./data/train/01.csv")
data.head(1)

,ID,種類,地域,市区町村コード,都道府県名,市区町村名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,...,前面道路：方位,前面道路：種類,前面道路：幅員（ｍ）,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装,取引の事情等,取引価格（総額）_log
0,1000809,中古マンション等,NaN,1101,北海道,札幌市中央区,北１条西,西１８丁目,5,オープンフロア,...,NaN,NaN,NaN,商業地域,80.0,400.0,2019年第3四半期,改装済,NaN,6.963788

# 削除したカラム

・ID:不要 \
・種類:全部同じ値のため(47都道府県で確認していないため要確認)\
・地域:市区町村コードで代用できると判断したため\
・都道府県名:"地域"と同様の理由\
・地区名:"地域"と同様の理由 \
・土地の形状:ほぼNULL値のため不要\
・間口:ほぼNULL値のため不要 \
・延床面積（㎡）:ほぼNULL値のため不要 \
・用途:多くの値が「住宅」を占めるため不要と判断\
・今後の利用目的:多くの値が「住宅」を占めるため不要と判断 \
#### "用途"と"今後の利用目的"結合すればNULL値が亡くなりそうなので要検討
・前面道路：方位:ほぼNULL値のため不要 \
・前面道路：種類:ほぼNULL値のため不要 \
・前面道路：幅員（ｍ）:ほぼNULL値のため不要\
・取引の事情等:ほぼNULL値のため不要

In [35]:
data = pd.read_csv("./data/train/01.csv").head(10)
# 確実にいらないカラムたち
data = data.drop(['ID','種類','地域', '都道府県名', '市区町村名', '地区名','土地の形状', '間口', 
                                  '延床面積（㎡）','用途','今後の利用目的','前面道路：方位', '前面道路：種類', 
                                  '前面道路：幅員（ｍ）','取引の事情等','最寄駅：名称'],axis=1) 
# もしかしたら使うかもしれないカラムたち
data = data.drop(['市区町村コード','都市計画'],axis=1)
# data = data.fillna({'改装':'未改装'})
data.notna().count()

最寄駅：距離（分）       10
間取り             10
面積（㎡）           10
建築年             10
建物の構造           10
建ぺい率（％）         10
容積率（％）          10
取引時点            10
改装              10
取引価格（総額）_log    10
dtype: int64

In [36]:
data

,最寄駅：距離（分）,間取り,面積（㎡）,建築年,建物の構造,建ぺい率（％）,容積率（％）,取引時点,改装,取引価格（総額）_log
0,5,オープンフロア,85,昭和49年,ＳＲＣ,80.0,400.0,2019年第3四半期,改装済,6.963788
1,10,３ＬＤＫ,70,平成7年,ＲＣ,60.0,200.0,2013年第1四半期,未改装,7.000000
2,5,３ＬＤＫ,70,平成6年,ＲＣ,60.0,200.0,2019年第4四半期,改装済,7.301030
3,4,３ＬＤＫ,85,平成15年,ＳＲＣ,60.0,300.0,2009年第2四半期,未改装,7.255273
4,3,１Ｋ,20,昭和64年,ＳＲＣ,80.0,600.0,2017年第1四半期,未改装,6.361728
5,6,３ＬＤＫ,60,昭和52年,ＲＣ,60.0,200.0,2019年第3四半期,未改装,6.740363
6,9,３ＬＤＫ,85,平成20年,ＲＣ,60.0,200.0,2011年第1四半期,未改装,7.361728
7,8,３ＬＤＫ,55,昭和52年,ＲＣ,60.0,200.0,2016年第1四半期,NaN,6.681241
8,4,４ＬＤＫ,90,平成9年,ＳＲＣ,80.0,300.0,2008年第1四半期,未改装,7.301030
9,10,３ＬＤＫ,75,平成19年,ＲＣ,60.0,200.0,2015年第4四半期,未改装,7.397940

In [18]:
data.groupby('間取り').agg(s_mean=('面積（㎡）','mean')).reset_index()

        間取り      s_mean
0   オープンフロア   65.825243
1     メゾネット  110.000000
2       １ＤＫ   27.947548
3     １ＤＫ＋Ｓ   50.000000
4        １Ｋ   21.179727
5        １Ｌ   15.000000
6      １ＬＤＫ   47.845138
7    １ＬＤＫ＋Ｓ   61.250000
8        １Ｒ   21.968085
9       ２ＤＫ   46.692677
10    ２ＤＫ＋Ｓ   53.333333
11       ２Ｋ   33.750000
12       ２Ｌ   75.000000
13     ２ＬＤＫ   63.272033
14   ２ＬＤＫ＋Ｓ   74.024390
15      ２ＬＫ   67.500000
16      ３ＤＫ   54.738806
17       ３Ｋ   40.000000
18      ３ＬＤ   90.000000
19     ３ＬＤＫ   74.626491
20   ３ＬＤＫ＋Ｓ   86.666667
21      ３ＬＫ   66.666667
22      ４ＤＫ   68.750000
23     ４ＬＤＫ   90.889729
24   ４ＬＤＫ＋Ｓ   93.000000
25     ５ＬＤＫ  104.956522
26   ５ＬＤＫ＋Ｓ  125.000000

### 間取りを順序尺度に変換できれば使えそう

・面積の平均値によってランクを付与したものを使用する\
・部屋数と間取りを対応させる
・

In [20]:
data.fillna({'改装':'未改装'})

,最寄駅：距離（分）,間取り,面積（㎡）,建築年,建物の構造,建ぺい率（％）,容積率（％）,取引時点,改装,取引価格（総額）_log
0,5,オープンフロア,85,昭和49年,ＳＲＣ,80.0,400.0,2019年第3四半期,改装済,6.963788
1,10,３ＬＤＫ,70,平成7年,ＲＣ,60.0,200.0,2013年第1四半期,未改装,7.000000
2,5,３ＬＤＫ,70,平成6年,ＲＣ,60.0,200.0,2019年第4四半期,改装済,7.301030
3,4,３ＬＤＫ,85,平成15年,ＳＲＣ,60.0,300.0,2009年第2四半期,未改装,7.255273
4,3,１Ｋ,20,昭和64年,ＳＲＣ,80.0,600.0,2017年第1四半期,未改装,6.361728
...,...,...,...,...,...,...,...,...,...,...
24357,16,４ＬＤＫ,90,平成9年,ＲＣ,60.0,200.0,2011年第2四半期,改装済,7.113943
24358,4,３ＬＤＫ,60,平成5年,ＲＣ,80.0,300.0,2017年第2四半期,改装済,7.079181
24359,6,４ＬＤＫ,100,平成18年,ＲＣ,80.0,300.0,2015年第1四半期,未改装,7.397940
24360,2,NaN,95,平成17年,ＲＣ,80.0,300.0,2019年第3四半期,未改装,7.431364
24361,4,NaN,95,平成8年,ＳＲＣ,80.0,400.0,2017年第1四半期,改装済,7.447158